@import "tailwindcss";

@theme {
    --color-primary: #4f46e5;
    --color-secondary: #9333ea;
    --color-background: #f9fafb;
    --color-text: #111827;
}

html {
    @apply scroll-smooth;
}

::-webkit-scrollbar {
    display: none;
}
